<div *ngIf=" productId && data" class="product-details">
<div class="card">
    <img [src]="data.product_image"  style="width:20%">
    <p><strong>Title:</strong>{{data.title}}</p>
    <p><strong>description:</strong>{{data.description}}</p>
    <p><strong>price:</strong>${{data.price}}</p>
    <strong>Comments: </strong> 
    <ol>
        <li *ngFor="let item of data.comments; let i = index">
           {{item.product_comments}}
           <button style="float:right" (click)="delete(item.id)">Delete </button>
        </li>
    </ol>
</div>
<div>
    <div>
        <textarea style="margin-left: 18px;" rows="4" cols="50" name="comment" [(ngModel)]="text"  >
        
        </textarea>
    </div>
    <button style="margin-left: 18px;" (click)="submit()">submit </button>
</div>

</div>
